# Variadic Function

In [1]:
def add(a, b):
    c = a + b
    return c

In [2]:
add(3, 4)

7

In [3]:
add(3.5, 7.1)

10.6

In [4]:
# Postional argument
add(3.5, 7.8)

11.3

In [5]:
# keyword argument
add(a=7, b=10)

17

In [6]:
add(3, 4, 5)

TypeError: add() takes 2 positional arguments but 3 were given

In [7]:
add(1, 2, 3, 4)

TypeError: add() takes 2 positional arguments but 4 were given

# Take multiple postional argument using *args
*args - will act tuple

In [8]:
# Variadic function with positional argument
def func1(*args):
    print(f"Positinal Arguments : {args}")
    print(f"Type : {type(args)}")
    for i in args:
        print(i)

In [9]:
func1(2, 3)

Positinal Arguments : (2, 3)
Type : <class 'tuple'>
2
3

In [10]:
func1("Test", 101, 102, 34.4, 46, "Example")

Positinal Arguments : ('Test', 101, 102, 34.4, 46, 'Example')
Type : <class 'tuple'>
Test
101
102
34.4
46
Example

In [11]:
func1(3, 4, 5)

Positinal Arguments : (3, 4, 5)
Type : <class 'tuple'>
3
4
5

# Write a variadic function to calculate sum of any given numbers

In [12]:
def add_many(*args):
    # Initiakize sum to 0
    s = 0
    # Apply for loop on args
    for i in args:
        s = s + i
    # Return the value of sum 
    return s

In [13]:
add_many(3, 4)

7

In [14]:
add_many(1, 2, 3)

6

In [15]:
add_many(5, 6, 7, 8, 9)

35

In [16]:
# You can pass list as positional argument in above 
a = [23, 24, 25, 11, 12, 13, 14, 15]
add_many(*a)

137

In [17]:
b = list(range(1, 101))
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [18]:
add_many(*b)

5050

# Create a variadic function to calculate product of numbers (multiplication)

In [5]:
def multiply_many(*args):
    # Intitialize product with 1
    p = 1
    # Apply for loop on args
    for i in args:
        p = p * i
    # Return value of product
    return p

In [6]:
multiply_many(3, 4)

12

In [7]:


multiply_many(12, 13, 14)

2184

In [8]:
multiply_many(45, 11, 12, 13, 18, 19)

26409240

In [9]:
# Whenever providing a list unpack with *list
c = [3, 4, 5, 11, 12, 13]
multiply_many(*c)

102960

# Write a variadic function to calculate the cart final bill

In [10]:
cart1 = [
    ("Mouse", 2, 600),
    ("Keyboard", 1, 1200),
    ("Laptop", 2, 35000)
]

In [11]:
def billing_var(*cart):
    # Intitilize total bill to 0
    total_bill = 0
    # Apply for loop on the cart value 
    for name, qty, price in cart:
        line_total = qty * price
        total_bill = total_bill + line_total 
        print(f"Product : {name}, Quantity : {qty}, Price : {price} INR, Line Total : {line_total}")
        print("="*60)
    # Return the total bill value 
    return total_bill

In [12]:
cart1

[('Mouse', 2, 600), ('Keyboard', 1, 1200), ('Laptop', 2, 35000)]

In [15]:
bill1 = billing_var(*cart1)
print(f"Total Bill : {bill1} INR")

Product : Mouse, Quantity : 2, Price : 600 INR, Line Total : 1200
============================================================
Product : Keyboard, Quantity : 1, Price : 1200 INR, Line Total : 1200
============================================================
Product : Laptop, Quantity : 2, Price : 35000 INR, Line Total : 70000
============================================================
Total Bill : 72400 INR

In [16]:
cart2 = [
    ("Mobile Cover", 5, 100),
    ("Screen Guard", 10, 200),
    ("Wireless Mouse", 1, 1500),
    ("Keyboard", 1, 2000),
    ("HDMI Cable", 2, 300)
]
bill2 = billing_var(*cart2)
print(f"Total Bill : {bill2} INR")

Product : Mobile Cover, Quantity : 5, Price : 100 INR, Line Total : 500
============================================================
Product : Screen Guard, Quantity : 10, Price : 200 INR, Line Total : 2000
============================================================
Product : Wireless Mouse, Quantity : 1, Price : 1500 INR, Line Total : 1500
============================================================
Product : Keyboard, Quantity : 1, Price : 2000 INR, Line Total : 2000
============================================================
Product : HDMI Cable, Quantity : 2, Price : 300 INR, Line Total : 600
============================================================
Total Bill : 6600 INR

In [17]:
bill3 = billing_var(
    ("Screen", 15000, 2),
    ("Microphone", 3000, 3)
)
print(f"Total bill : {bill3} INR")

Product : Screen, Quantity : 15000, Price : 2 INR, Line Total : 30000
============================================================
Product : Microphone, Quantity : 3000, Price : 3 INR, Line Total : 9000
============================================================
Total bill : 39000 INR

In [18]:
bill4 = billing_var(
    ("USB Drive", 4, 500),
    ("Earphones", 1, 1200),
    ("Keyboard", 1, 1500),
    ("Screen Guard", 2, 300)
)
print(f"Total bill : {bill4} INR")

Product : USB Drive, Quantity : 4, Price : 500 INR, Line Total : 2000
============================================================
Product : Earphones, Quantity : 1, Price : 1200 INR, Line Total : 1200
============================================================
Product : Keyboard, Quantity : 1, Price : 1500 INR, Line Total : 1500
============================================================
Product : Screen Guard, Quantity : 2, Price : 300 INR, Line Total : 600
============================================================
Total bill : 5300 INR

# Keyword arguments

In [22]:
add(a=3, b=4)

NameError: name 'add' is not defined

In [23]:
add(a=1, b=2, c=3)

NameError: name 'add' is not defined

# **kwargs - act like dictionary

In [24]:
def func2(**kwargs):
    print(f"Keyword arguments : {kwargs}")
    print(f"Type : {type(kwargs)}")
    for key, value in kwargs.items():
        print(f"Key : {key}, Value : {value}")

In [25]:
func2(name="Rahul", age=23)

Keyword arguments : {'name': 'Rahul', 'age': 23}
Type : <class 'dict'>
Key : name, Value : Rahul
Key : age, Value : 23

In [26]:
func2(name="Aditi", age=25, email="a@test.com", weight=45.3)

Keyword arguments : {'name': 'Aditi', 'age': 25, 'email': 'a@test.com', 'weight': 45.3}
Type : <class 'dict'>
Key : name, Value : Aditi
Key : age, Value : 25
Key : email, Value : a@test.com
Key : weight, Value : 45.3

In [27]:
func2(food_name="Paneer", price="200", quantity=5, extra="spicy")

Keyword arguments : {'food_name': 'Paneer', 'price': '200', 'quantity': 5, 'extra': 'spicy'}
Type : <class 'dict'>
Key : food_name, Value : Paneer
Key : price, Value : 200
Key : quantity, Value : 5
Key : extra, Value : spicy

In [28]:
# You can unpack the dictionary **dict
a = {
    "emp_id" : 101,
    "name" : "Rahul",
    "age" : 28,
    "dept" : "Engg."
}
func2(**a)

Keyword arguments : {'emp_id': 101, 'name': 'Rahul', 'age': 28, 'dept': 'Engg.'}
Type : <class 'dict'>
Key : emp_id, Value : 101
Key : name, Value : Rahul
Key : age, Value : 28
Key : dept, Value : Engg.

# Invoice generation **kwargs

In [29]:
def generate_invoice(customer, **fields):
    invoice = {"customer": customer}
    invoice.update(fields)
    return invoice

In [30]:
inv1 = generate_invoice(
    "Sarthak",
    products = ["Laptop", "Mouse", "Keyboard"],
    amount = 75000,
    cgst = 5000,
    sgst = 5000,
    total_bill = 80000,
    paid = True
)
inv1

{'customer': 'Sarthak',
 'products': ['Laptop', 'Mouse', 'Keyboard'],
 'amount': 75000,
 'cgst': 5000,
 'sgst': 5000,
 'total_bill': 80000,
 'paid': True}

In [31]:
inv2 = generate_invoice(
    "John",
    products = ["Mobile", "Screen guard"],
    amount = 500,
    tax = 50,
    paid = False,
    due_date = "20th Nov 2025"
)

In [32]:
inv2

{'customer': 'John',
 'products': ['Mobile', 'Screen guard'],
 'amount': 500,
 'tax': 50,
 'paid': False,
 'due_date': '20th Nov 2025'}

# Combine the *args and **kwargs
*args - Tuple, **kwargs-dictionary

In [33]:
def func3(*args, **kwargs):
    print(f"Postional Arguments : {args}")
    print(f"Type : {type(args)}")
    for i in args:
        print(i)
    print(f"Keyword arguments : {kwargs}")
    print(f"Type : {type(kwargs)}")
    for key, value in kwargs.items():
        print(f"Key : {key}, Value : {value}")

In [34]:
func3("Example", 23, 11, name="Rahul", age=23, dept="Engg.", height=5.5)

Postional Arguments : ('Example', 23, 11)
Type : <class 'tuple'>
Example
23
11
Keyword arguments : {'name': 'Rahul', 'age': 23, 'dept': 'Engg.', 'height': 5.5}
Type : <class 'dict'>
Key : name, Value : Rahul
Key : age, Value : 23
Key : dept, Value : Engg.
Key : height, Value : 5.5

In [35]:
# Unpack the list *list, dictionary with **dict
a = [12, 13, 14, 15, 16]
b = {"food_name": "Panner", "price": 250}
func3(*a, **b)

Postional Arguments : (12, 13, 14, 15, 16)
Type : <class 'tuple'>
12
13
14
15
16
Keyword arguments : {'food_name': 'Panner', 'price': 250}
Type : <class 'dict'>
Key : food_name, Value : Panner
Key : price, Value : 250

In [36]:
func3(12, 13, 14)

Postional Arguments : (12, 13, 14)
Type : <class 'tuple'>
12
13
14
Keyword arguments : {}
Type : <class 'dict'>

In [37]:
func3(a=12, b=13, c=25, d=11)

Postional Arguments : ()
Type : <class 'tuple'>
Keyword arguments : {'a': 12, 'b': 13, 'c': 25, 'd': 11}
Type : <class 'dict'>
Key : a, Value : 12
Key : b, Value : 13
Key : c, Value : 25
Key : d, Value : 11

# Create a user having differnt roles and details

In [38]:
def create_user(username, *roles, **details):
    user = {"username": username}
    user["roles"] = list(roles)
    user.update(details)
    return user

In [39]:
u1 = create_user(
    "sarthaks1",
    "admin", "editor",
    city = "Pune",
    dept = "Engg.",
    age = 28
)

u1

{'username': 'sarthaks1',
 'roles': ['admin', 'editor'],
 'city': 'Pune',
 'dept': 'Engg.',
 'age': 28}

In [40]:
u2 = create_user(
    "aditim5",
    "editor", "supervisor", "training",
    email = "a@test.com"
)

u2

{'username': 'aditim5',
 'roles': ['editor', 'supervisor', 'training'],
 'email': 'a@test.com'}

In [41]:
u3 = create_user(
    "raman23",
    "admin", "trainer"
)
u3

{'username': 'raman23', 'roles': ['admin', 'trainer']}

In [42]:
u4 = create_user("priyas34")
u4

{'username': 'priyas34', 'roles': []}