# Variadic Functions

In [4]:
def add(a, b):
    c = a + b
    return c

In [5]:
add (3, 4)

7

In [6]:
add (3.5, 7.1)

10.6

In [7]:
add(3.5, 7.8)

11.3

In [8]:
add(a=7, b=10)

17

In [9]:
add(3, 4, 5)

TypeError: add() takes 2 positional arguments but 3 were given

In [10]:
add(1, 2, 3, 4)

TypeError: add() takes 2 positional arguments but 4 were given

# Take multiple postional arguments using *args

In [12]:
# Variadic function with positional arguments
def func1(*args):
    print(f"Postional Arguments : {args}")
    print(f"Type : {type(args)}")
    for i in args:
        print(i)

In [13]:
func1(2, 3)

Postional Arguments : (2, 3)
Type : <class 'tuple'>
2
3

In [14]:
func1("Test", 101, 102, 34.5, 46, "Example")

Postional Arguments : ('Test', 101, 102, 34.5, 46, 'Example')
Type : <class 'tuple'>
Test
101
102
34.5
46
Example

In [15]:
func1(3, 4, 5)

Postional Arguments : (3, 4, 5)
Type : <class 'tuple'>
3
4
5

# Write a variadic function to calculate sum of any given numbers

In [16]:
def add_many(*args):
    # Initialize sum to 0
    s = 0
    # Apply for loop on args
    for i in args:
        s = s + i
    # Return the value of sum
    return s

In [17]:
add_many(3, 4)

7

In [18]:
add_many(1, 2, 3)

6

In [19]:
add_many(5, 6, 7, 8, 9)

35

In [20]:
# You can pass list as positional argument in above
a = [23, 24, 25, 11, 12, 13, 14, 15]
add_many(*a)

137

In [21]:
b = list(range(1, 101))
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [22]:
add_many(*b)

5050

In [23]:
def multiply_many(*args):
    # Intitialize product with 1
    p = 1
    # Apply for loop on args
    for i in args:
        p = p * i
    # Return value of product
    return p

In [24]:
multiply_many(3, 4)

12

In [25]:
multiply_many(12, 13, 14)

2184

In [26]:
multiply_many(45, 11, 12, 13, 18, 19)

26409240

In [28]:
cart1 = [
    ("Mouse", 2, 600),
    ("Keyboard", 1, 1200),
    ("Laptop", 2, 35000)
]

In [29]:
def billing_var(*cart):
    # Intitilize total bill to 0
    total_bill = 0
    # Apply for loop on the cart value
    for name, qty, price in cart:
        line_total = qty * price 
        total_bill = total_bill + line_total
        print(f"Product : {name}, Quantity : {qty}, Price : {price} INR, Line Total : {line_total}")
        print("="*60)
    # Return the total bill value
    return total_bill

cart1

[('Mouse', 2, 600), ('Keyboard', 1, 1200), ('Laptop', 2, 35000)]

In [30]:
bill1 = billing_var(*cart1)
print(f"Total Bill : {bill1} INR")

Product : Mouse, Quantity : 2, Price : 600 INR, Line Total : 1200
============================================================
Product : Keyboard, Quantity : 1, Price : 1200 INR, Line Total : 1200
============================================================
Product : Laptop, Quantity : 2, Price : 35000 INR, Line Total : 70000
============================================================
Total Bill : 72400 INR

In [31]:
cart2 = [
    ("Mobile Cover", 5, 100),
    ("Screen Guard", 10, 200),
    ("Wireless Mouse", 1, 1500),
    ("Keyboard", 1, 2000),
    ("HDMI Cable", 2, 300)
]
bill2 = billing_var(*cart2)
print(f"Total Bill : {bill2} INR")

Product : Mobile Cover, Quantity : 5, Price : 100 INR, Line Total : 500
============================================================
Product : Screen Guard, Quantity : 10, Price : 200 INR, Line Total : 2000
============================================================
Product : Wireless Mouse, Quantity : 1, Price : 1500 INR, Line Total : 1500
============================================================
Product : Keyboard, Quantity : 1, Price : 2000 INR, Line Total : 2000
============================================================
Product : HDMI Cable, Quantity : 2, Price : 300 INR, Line Total : 600
============================================================
Total Bill : 6600 INR

In [32]:
bill3 = billing_var(
    ("Screen", 15000, 2),
    ("Microphone", 3000, 3)
)
print(f"Total bill : {bill3} INR")

Product : Screen, Quantity : 15000, Price : 2 INR, Line Total : 30000
============================================================
Product : Microphone, Quantity : 3000, Price : 3 INR, Line Total : 9000
============================================================
Total bill : 39000 INR

In [33]:
bill4 = billing_var(
    ("USB Drive", 4, 500),
    ("Earphones", 1, 1200),
    ("Keyboard", 1, 1500),
    ("Screen Guard", 2, 300)
)
print(f"Total bill : {bill4} INR")

Product : USB Drive, Quantity : 4, Price : 500 INR, Line Total : 2000
============================================================
Product : Earphones, Quantity : 1, Price : 1200 INR, Line Total : 1200
============================================================
Product : Keyboard, Quantity : 1, Price : 1500 INR, Line Total : 1500
============================================================
Product : Screen Guard, Quantity : 2, Price : 300 INR, Line Total : 600
============================================================
Total bill : 5300 INR

# Keyword Arrgument